<!-- <h1 style="color: red; font-size: xx-large; border: solid yellowgreen;">Include a logout button!!!</h1> -->
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary container-fluid ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"> <h1><p>Website for Marco Duhaney.</p></h1> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"  id="navbarNavDropdown">
        <ul class="navbar-nav" style=" margin-left: 60%; float: right;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tasks">Task list</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" id="log_button" routerLink= {{loginLink}} >{{loginText}}</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  <br><br><br><br>
 
<br>
<h2>All Three practical requests can be viewd through this medium
    Please click to any page you would like with through from the top right corner.</h2>