<!-- <div class="homepage container-fluid"> -->
  <!-- <h1>This is the home page</h1><br> -->
  <p>Welcome to the fictional store please take a look at all the hypthetical products available</p>
  <br><br>
  <div class="slider container-fluid">
    <div class="slide-track container-fluid">
      <div class="slide container-fluid">
        <img src="/assets/discount-sale.jpg" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/image1-1-1300x650.png" height="100" width="250" alt="" />
      </div>
      <!-- <div class="slide">
        <img src="/src/assets/woman_shopping_smile_532392166.jpg" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/consulting_outPatient.jpg" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/diagnostic_dataAnalasis.jpg" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/diagnostic_dataCollecting.jpg" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/surgery_scissor.jpg" height="100" width="250" alt="" />
      </div> -->
      
    </div>
  </div>
  <h2>Mission statement</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <h2>More information</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<!-- </div> -->