body{
}
/* display: flex; */
/* form{ */
    /* border: solid 3px; */

/* } */
input, textarea{
    display: flex;
    justify-self: end;
    /* margin: auto; */
    margin-right:10%;
}

button{
    display: flex;
    justify-self: center;
}